hikaru-model-23 @ file:///C:/Users/tcarr/PycharmProjects/hikaru/dist/hikaru_model_23-1.1.0-py3-none-any.whl
hikaru-model-24 @ file:///C:/Users/tcarr/PycharmProjects/hikaru/dist/hikaru_model_24-1.1.0-py3-none-any.whl
hikaru-model-25 @ file:///C:/Users/tcarr/PycharmProjects/hikaru/dist/hikaru_model_25-1.1.0-py3-none-any.whl
hikaru-model-26 @ file:///C:/Users/tcarr/PycharmProjects/hikaru/dist/hikaru_model_26-1.1.0-py3-none-any.whl
hikaru-codegen @ file:///C:/Users/tcarr/PycharmProjects/hikaru/dist/hikaru_codegen-1.1.0-py3-none-any.whl
